<footer class="bg-white pt-5">
    <section>
        <p class="text-center h2 fst-italic">eCLINICO<i
                class="fa-solid fa-hand-holding-medical fa-xl fa-fade text-warning fw-bold ps-2"
                style="--fa-animation-duration: 1.8s"></i></p>
        <!-- grid-1 -->
        <div class=" container d-flex justify-content-center align-items-center ">
            <div class="row row-cols-sm-1 ">
                <div class="col py-3">
                    <div class="text-center">
                        <ul class="list-unstyled fw-bold d-sm-inline-flex gap-5">
                            <li class="hover-underline-animation"><a routerLink="home" class="text-dark">Home</a></li>
                            <li class="hover-underline-animation"><a routerLink="aboutus" class="text-dark">About us</a></li>
                            <li class="hover-underline-animation"><a routerLink="plans" class="text-dark">Subscription</a></li>
                            <li class="hover-underline-animation"><a routerLink="plans" class="text-dark">Terms & Conditions</a></li>
                            <li class="hover-underline-animation"><a routerLink="plans" class="text-dark">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- grid-2 -->
        <div class="pt-3 container d-flex justify-content-center align-items-center ">
            <div class="row g-3">
                <div class="col-12 col-sm-4">
                    <div class="card bg-transparent border-0">
                        <img src="../../assets/trust-stamp-2.svg" alt="people" class="d-block mx-auto people">
                        <p class="text-center">Trusted by more than 20 million people</p>
                    </div>

                </div>
                <div class="col-12 col-sm-4">
                    <div class="card bg-transparent border-0">
                        <img src="../../assets/certif.png" alt="certified" class="d-block mx-auto certified">
                        <p class="text-center">We are certified <br> "ISO/IEC 27001:2013</p>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="card bg-transparent border-0">
                        <img src="../../assets/accurate.svg" alt="accurate" class="d-block mx-auto accurate">
                        <p class="text-center">All content is authored by eCLINICO Editorial Team</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- grid-3-->
        <div class="pt-4 container d-flex justify-content-center align-items-center ">
            <div class="row row-cols-1  row-cols-sm-2 g-4">
                <div class="col ">
                    <div class="card bg-transparent border-0 h-25">
                        <img src="../../assets/play-store.png" alt="people" class="d-block mx-auto play-store">
                    </div>
                </div>
                <div class="col ">
                    <div class="card bg-transparent border-0">
                        <img src="../../assets/app-store.png " alt="people" class="d-block mx-auto app-store">
                    </div>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <p class="text-muted text-center pt-4 pb-2">
            Copyright © 2009-2022 eCLINICO. All Rights Reserved
        </p>
    </section>
</footer>


