/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Urbanist:ital,wght@1,500&display=swap');

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 150px;
  font-family: 'Open Sans', sans-serif;
}
