<!-- eCLINICO -->
<section class=" pt-1  text-center container">
    <div class="row py-lg-4">
        <div class="col-lg-6 col-md-8 mx-auto scale-in-hor-center">
            <h1 class="fw-bold display-5 fst-italic eCLINICO">eCLINICO</h1>
            <p class="display-6 text-muted ">Anyone, Anywhere can Consult With Doctors </p>
            <p>
                <a class="btn explore_button text-white fst-italic rounded-pill w-75 my-2 fs-4"
                    (click)="navTOaboutUS()">Explore <i class="fas fa-angle-double-right pt-1"></i></a>
            </p>
        </div>
    </div>
</section>

<!--image-overlay-->
<section class="overlay_container text-dark">
    <img src="../../assets/remote_monitoring-1.jpg" class="card-img" alt="remote_monitoring-1">
    <p class="overlay_text " data-aos="fade-up" data-aos-offset="300" data-aos-delay="150">Bringing Healthcare Closer to
        You Every Day at the Comfort
        of your Homes..</p>
</section>

<!--Main ideas -->
<section class=" py-3">
    <div class="container p-5 ">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-3 ">
            <div class="col " data-aos="fade-right" data-aos-offset="500" data-aos-delay="150">
                <div class="card  h-100 shadow-lg pt-3 border-0">
                    <img src="../../assets/confidential.svg" alt="confidential" class="card_img ">
                    <div class="card-body text-center">
                        <h3 class="card_Title">Confidential</h3>
                        <p class="text-muted">All advice & consultations are completely confidential. You can also
                            delete chats whenever you
                            want.</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-right" data-aos-offset="500" data-aos-delay="150">
                <div class="card h-100 shadow-lg pt-3 border-0">
                    <img src="../../assets/certified.svg" alt="certified" class="card_img">
                    <div class="card-body text-center">
                        <h3 class="card_Title">Certified</h3>
                        <p class="text-muted">We offer quality healthcare through our network of certified and
                            experienced doctors</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-left" data-aos-offset="500" data-aos-delay="150">
                <div class="card h-100 shadow-lg pt-3 border-0">
                    <img src="../../assets/convenience.svg" alt="convenience" class="card_img">
                    <div class="card-body text-center">
                        <h3 class="card_Title">Convenience</h3>
                        <p class="text-muted">Forget the hassle of long queues and rush hour. Seek expert opinion
                            anytime, anywhere.</p>
                    </div>
                </div>
            </div>
            <div class="col" data-aos="fade-left" data-aos-offset="500" data-aos-delay="150">
                <div class="card h-100 shadow-lg pt-3 border-0">
                    <img src="../../assets/costEffective.svg" alt="costEffective" class="card_img">
                    <div class="card-body text-center">
                        <h3 class="card_Title">CostEffective</h3>
                        <p class="text-muted">We provide medical assistance on non urgent queries for free.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Book an Appoinment with Our Specialist! -->
<section class="pb-3">
    <div class="container display-6 text-center pb-2 ">
        Book an Appoinment with Our Specialist!
    </div>
    <div class="d-flex justify-content-center ">
        <video width="250" height="480" autoplay loop>
            <source src="../../assets/appointment_video.webm" type="video/mp4">
        </video>
    </div>
</section>

<!--  Skip the travel!Take Online Doctor Consultation -->
<section>
    <div class="container display-6 text-center pb-2">
        Skip the travel! Take Online Doctor Consultation
    </div>
    <div class="container">
        <div>
            <img src="../../assets/call_gif.gif" alt="A&V_gif" class="img-fluid d-block mx-auto gif">
        </div>
    </div>
</section>